
.banner {
    background-image: url("https://i.ibb.co/6YpT92c/benar3.jpg"),
      linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5));
    height: 780px;
    width: 100%;
    /* border: 1px solid red; */
    background-blend-mode: overlay;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
  }
  .header-title{
      margin-left: 30px;
  }
  .title {
    color: white;
    font-weight: bold;
    font-size: 59px;
  }
  .about-btn {
    background-color: #053335;
    outline: none;
    border: none;
    padding: 17px 34px;
    color: white;
  }